.content {
  transition: 0.3s;
  padding: 30px;
  background: #f9fafb;
  min-height: 100vh;
}

/* kalau sidebar open */
.content.shift {
  margin-left: 220px;
}

/* kalau sidebar close */
.content.full {
  margin-left: 70px;
}

.app-layout {
    font-family: sans-serif;
}